@charset "utf-8";

	
			*{
				
				margin: 0;
				padding: 0;
			}
			.ig{
				
				position: absolute;
			}
			.btn1,.btn2{
				
				
				width: 30px;
				height: 50px;
				background: #333333;
				position: absolute;
				color: white;
				opacity: 0.5;
				text-align: center;
				line-height: 50px;
				font-size: 30px;
				margin-top: 115px;
				cursor: pointer;
			}
			.btn2{
				
				margin-left:490px ;
			}
			
.tabs{
	
	margin-left: 180px;
	position: absolute;
	
}
.tab{
	width: 30px;
	height: 30px;
	background: white;
	text-align: center;
	border-radius: 100px;
	line-height: 30px;
	float: left;
	margin-top: 250px;
	cursor: pointer;
	
	
	
}
.bg{
	background-color: royalblue;
	
	
}
